@model testweb.Models.User
@{
    ViewBag.Title = "Signup";
}

<section id="four" class="wrapper style2 special">
    <div class="inner">
        <header class="major narrow">
            <h2>Forgot Passwor?</h2>
            <p>Get it right away!</p>
        </header>
        <form action="#" method="POST">
            <div class="container 75%">
                <div class="row uniform 50%">
                    <div class="12u$">
                        @Html.TextBoxFor(model => model.Email, new { placeHolder = "Email" })
                    </div>
                    <div class="12u$">
                        <select name="securityQuestion">
                            <option style= "background-color: #1d1919 !important;" value="0" selected>Select Security Question</option>
                            <option style= "background-color: #1d1919 !important;" value="BestFriendName">What's your Best Friend Name?</option>
                            <option style= "background-color: #1d1919 !important;" value="PetName">What's your Pet Name?</option>
                        </select>
                    </div>
                    <div class="12u$">
                        @Html.TextBoxFor(model => model.SecurityAnswer, new { placeHolder = "Your Answer?" })
                    </div>
                    <div class="12u$">
                    @{
                        if(Model != null)
                        {
                            @Html.Label("Your password is: "+Model.Password);
                        }
                    }
                    </div>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" class="special" value="Send Password" /></li>
                <li><input type="reset" class="alt" value="Login" onclick="document.location.href = '/Account/Login'" /></li>
            </ul>
        </form>
    </div>
</section>