@{
    ViewBag.Title = "Home Page";
}

<!-- Banner -->
<section id="banner">
    <i class="icon fa-diamond"></i>
    <h2>Eventor is</h2>    
    <p>People getting together to learn something, <br />
            do something, share something…
			</p>
    <ul class="actions">
        <li><a href="./Event/AllEvents" class="button big special">Join Event</a></li>
		<li><a href="./Event/CreateEvent" class="button big">Create Event</a></li>
    </ul>
</section>
<!-- One -->
<section id="one" class="wrapper style1">
    <div class="inner">
        <article class="feature left">
            <span class="image"><img src="~/images/pic01.jpg" alt="" /></span>
            <div class="content">
                <h2>Wordpress Meetup</h2>
                <p>
					Lahore, Pakistan.<br/>
					We're a group of local WordPress developers, designers, and publishers who get together to share our knowledge and experience, and to meet other WordPress users in the area. This WordPress Meetup is open to all who love WordPress.
Join us to learn, share and network with fellow WordPressors.
				</p>
                <ul class="actions">
                    <li>
                        <a href="#" class="button alt">More</a>
                    </li>
                </ul>
            </div>
        </article>
        <article class="feature right">
            <span class="image"><img src="~/images/pic02.jpg" alt="" /></span>
            <div class="content">
                <h2>Lahore Internet Startups</h2>
                <p>Chapter of Global Internet Startups Meetup group, Lahore Internet Startups (LHIS) was founded in October 2015 and it is one of the fastest growing startup communities in Pakistan.

Our events empower entrepreneurs by connecting people and creating opportunities for companies to develop new businesses, meet customers, launch new products, promote their brands and expand their markets.

LHIS strives to help: Entrepreneurs, Students, Techies, Startups, Investors, Mentors and Advisors.

This group will: Host great events, get you involved, connect people and help you take action.

Join, Participate and Enjoy! ☺</p>
                <ul class="actions">
                    <li>
                        <a href="#" class="button alt">More</a>
                    </li>
                </ul>
            </div>
        </article>
		<article class="feature left">
            <span class="image"><img src="~/images/pic01.jpg" alt="" /></span>
            <div class="content">
                <h2>Lahore salesforce developer group</h2>
                <p>
					Lahore, Pakistan.<br/>
					Connect with local developers building on the Salesforce Platform!
				</p>
                <ul class="actions">
                    <li>
                        <a href="#" class="button alt">More</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper special">
    <div class="inner">
        <header class="major narrow">
            <h2>We at Eventor</h2>
            <p>are a strong believer of what Keith Ferazzi aptly said;<br />
                “By giving your time and expertise and sharing them freely, the pie gets bigger for everyone.”</p>
        </header>
        <div class="image-grid">
            <a href="#" class="image"><img src="~/images/pic03.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic04.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic05.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic06.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic07.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic08.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic09.jpg" alt="" /></a>
            <a href="#" class="image"><img src="~/images/pic10.jpg" alt="" /></a>
        </div>
        <ul class="actions">
            <li><a href="#" class="button big alt">More About Us</a></li>
        </ul>
    </div>
</section>
<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major narrow	">
            <h2>We're very proud</h2>
            <p>to have you on our website and looking forward to give you a very good experience of different events we're offering you to join</p>
        </header>
        <ul class="actions">
            <li><a href="#" class="button big alt">Check All Events</a></li>
        </ul>
    </div>
</section>
<!-- Four -->
<section id="four" class="wrapper style2 special">
    <div class="inner">
        <header class="major narrow">
            <h2>Get in touch</h2>
            <p>Anything you want to share with our team?</p>
        </header>
        <form action="#" method="POST">
            <div class="container 75%">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <input name="name" placeholder="Name" type="text" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input name="email" placeholder="Email" type="email" />
                    </div>
                    <div class="12u$">
                        <textarea name="message" placeholder="Message" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" class="special" value="Submit" /></li>
                <li><input type="reset" class="alt" value="Reset" /></li>
            </ul>
        </form>
    </div>
</section>